## Importations

In [2]:
# Importations
import pandas as pd
import os 
import numpy as np
import glob

# Data

In [3]:
# Load datasets
BASE_PATH = os.path.join('..', 'results', 'attention_maps_l19')
EXCEL_FILES = glob.glob(os.path.join(BASE_PATH, '*0.xlsx'))

In [4]:
# Populate DF
DFs = {}
for x in EXCEL_FILES:
    DFs[x.split(os.path.sep)[-1][:-5]] = pd.read_excel(x)
DF = pd.concat([df for df in DFs.values()], axis=0)
print("DF dimensions:", DF.shape)
DF.head()

DF dimensions: (17579, 82)

,ID,area30,ncomp30,MN30,AMN30,SIMP30,lcV0_30,lcV1_30,lcV2_30,lcV3_30,...,lcV1_75%,lcV2_75%,lcV3_75%,lcV4_75%,lcV5_75%,lcV6_75%,lcV7_75%,lcV8_75%,lcV9_75%,lcV10_75%
0,0_10873,0.206452,36,24.351351,0,0.358124,0,13,66,0,...,0.000000,0.320988,0.000000,0.493827,0.185185,0.0,0.0,0.0,0.0,0.0
1,0_10573,0.219355,33,25.411765,0,0.402736,0,23,75,13,...,0.205882,0.588235,0.058824,0.117647,0.029412,0.0,0.0,0.0,0.0,0.0
2,0_10999,0.236280,21,49.181818,0,0.521540,0,0,94,0,...,0.000000,0.000000,0.000000,1.000000,0.000000,0.0,0.0,0.0,0.0,0.0
3,0_11027,0.277244,36,33.243243,0,0.394701,0,0,47,177,...,0.000000,0.095238,0.238095,0.000000,0.666667,0.0,0.0,0.0,0.0,0.0
4,0_10033,0.298611,54,13.327273,0,0.478857,0,231,20,2,...,0.820000,0.080000,0.000000,0.040000,0.060000,0.0,0.0,0.0,0.0,0.0

In [5]:
# Original ID
def splitID(row):
    return int(row[2:])
DF['ID'] = DF['ID'].apply(splitID)

In [6]:
# Sort
DF = DF.sort_values('ID')
DF = DF.reset_index()
DF.drop(columns=['index'], inplace=True)
DF

,ID,area30,ncomp30,MN30,AMN30,SIMP30,lcV0_30,lcV1_30,lcV2_30,lcV3_30,...,lcV1_75%,lcV2_75%,lcV3_75%,lcV4_75%,lcV5_75%,lcV6_75%,lcV7_75%,lcV8_75%,lcV9_75%,lcV10_75%
0,0,0.093379,31,8.468750,0,0.255041,0,38,20,31,...,0.208333,0.333333,0.333333,0.000000,0.125000,0.0,0.0,0.000000,0.0,0.0
1,1,0.471217,90,24.956044,0,0.266790,0,28,59,148,...,0.107438,0.024793,0.157025,0.090909,0.586777,0.0,0.0,0.033058,0.0,0.0
2,2,0.191311,32,22.181818,0,0.336423,0,50,66,3,...,0.809524,0.000000,0.000000,0.190476,0.000000,0.0,0.0,0.000000,0.0,0.0
3,3,0.251689,28,17.965517,0,0.666524,0,241,11,0,...,0.735294,0.058824,0.000000,0.029412,0.176471,0.0,0.0,0.000000,0.0,0.0
4,4,0.265932,22,31.565217,0,0.744389,0,7,290,28,...,0.041667,0.875000,0.041667,0.041667,0.000000,0.0,0.0,0.000000,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17574,17574,0.256579,26,19.074074,0,0.690397,0,255,7,0,...,0.647059,0.117647,0.000000,0.058824,0.176471,0.0,0.0,0.000000,0.0,0.0
17575,17575,0.283706,52,21.641509,0,0.312361,0,9,101,113,...,0.026316,0.236842,0.447368,0.000000,0.289474,0.0,0.0,0.000000,0.0,0.0
17576,17576,0.226562,15,35.375000,0,0.540618,0,195,6,0,...,0.754386,0.052632,0.000000,0.192982,0.000000,0.0,0.0,0.000000,0.0,0.0
17577,17577,0.298077,43,16.045455,0,0.436886,0,225,14,94,...,0.615385,0.000000,0.282051,0.038462,0.064103,0.0,0.0,0.000000,0.0,0.0
17578,17578,0.197793,18,53.842105,0,0.587909,0,0,26,31,...,0.000000,0.062500,0.093750,0.000000,0.843750,0.0,0.0,0.000000,0.0,0.0

In [7]:
# Load class prob
DFClass = pd.read_excel(os.path.join(BASE_PATH, 'ClassProbs.xlsx'), index=None)
DFClass = DFClass.sort_values('ID')
DFClass = DFClass.reset_index()
DFClass.drop(columns=['index', 'Unnamed: 0'], inplace=True)
DFClass

          ID  ProbNF  ProbF  y  yhat
0          0    0.05   0.95  1     1
1          1    0.03   0.97  1     1
2          2    1.00   0.00  0     0
3          3    1.00   0.00  0     0
4          4    0.98   0.02  0     0
...      ...     ...    ... ..   ...
17574  17574    1.00   0.00  0     0
17575  17575    0.81   0.19  0     0
17576  17576    1.00   0.00  0     0
17577  17577    0.00   1.00  1     1
17578  17578    0.16   0.84  0     1

[17579 rows x 5 columns]

In [8]:
# Merge
DFFull = pd.merge(DF, DFClass, how='left', on='ID')
print("Consolidated dimension:", DFFull.shape)
DFFull

Consolidated dimension: (17579, 86)

,ID,area30,ncomp30,MN30,AMN30,SIMP30,lcV0_30,lcV1_30,lcV2_30,lcV3_30,...,lcV5_75%,lcV6_75%,lcV7_75%,lcV8_75%,lcV9_75%,lcV10_75%,ProbNF,ProbF,y,yhat
0,0,0.093379,31,8.468750,0,0.255041,0,38,20,31,...,0.125000,0.0,0.0,0.000000,0.0,0.0,0.05,0.95,1,1
1,1,0.471217,90,24.956044,0,0.266790,0,28,59,148,...,0.586777,0.0,0.0,0.033058,0.0,0.0,0.03,0.97,1,1
2,2,0.191311,32,22.181818,0,0.336423,0,50,66,3,...,0.000000,0.0,0.0,0.000000,0.0,0.0,1.00,0.00,0,0
3,3,0.251689,28,17.965517,0,0.666524,0,241,11,0,...,0.176471,0.0,0.0,0.000000,0.0,0.0,1.00,0.00,0,0
4,4,0.265932,22,31.565217,0,0.744389,0,7,290,28,...,0.000000,0.0,0.0,0.000000,0.0,0.0,0.98,0.02,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17574,17574,0.256579,26,19.074074,0,0.690397,0,255,7,0,...,0.176471,0.0,0.0,0.000000,0.0,0.0,1.00,0.00,0,0
17575,17575,0.283706,52,21.641509,0,0.312361,0,9,101,113,...,0.289474,0.0,0.0,0.000000,0.0,0.0,0.81,0.19,0,0
17576,17576,0.226562,15,35.375000,0,0.540618,0,195,6,0,...,0.000000,0.0,0.0,0.000000,0.0,0.0,1.00,0.00,0,0
17577,17577,0.298077,43,16.045455,0,0.436886,0,225,14,94,...,0.064103,0.0,0.0,0.000000,0.0,0.0,0.00,1.00,1,1
17578,17578,0.197793,18,53.842105,0,0.587909,0,0,26,31,...,0.843750,0.0,0.0,0.000000,0.0,0.0,0.16,0.84,0,1

# Stats

### HR

In [21]:
# HR
HR = DFFull[DFFull.ProbF >= .7]
HR.shape

(3790, 86)

In [54]:
HR[['area30', 'area50', 'area75','ncomp30', 'ncomp50', 'ncomp75', 'SIMP30', 'SIMP50', 'SIMP75', 'MN30', 'MN50', 'MN75']].describe()

,area30,area50,area75,ncomp30,ncomp50,ncomp75,SIMP30,SIMP50,SIMP75,MN30,MN50,MN75
count,3790.000000,3790.000000,3790.000000,3790.000000,3790.000000,3790.000000,3790.000000,3790.000000,3790.000000,3790.000000,3790.000000,3790.000000
mean,0.243468,0.118800,0.035986,44.783113,24.654354,9.188127,0.399176,0.424741,0.499164,28.977923,25.542147,19.247328
std,0.067455,0.047963,0.020396,20.006015,13.140422,6.035368,0.140161,0.158895,0.198594,16.593534,16.795206,14.875138
min,0.060157,0.015280,0.003289,1.000000,1.000000,1.000000,0.149763,0.157980,0.157047,8.062500,6.428571,2.000000
25%,0.194576,0.082083,0.020968,30.000000,15.000000,5.000000,0.298328,0.309567,0.348571,19.687028,16.679383,11.377404
50%,0.242360,0.114601,0.032012,43.000000,22.000000,8.000000,0.365143,0.386563,0.454204,24.809019,21.307692,15.630682
75%,0.290865,0.151442,0.046753,57.000000,33.000000,12.000000,0.464387,0.494513,0.599294,32.880515,28.630051,22.000000
max,0.477196,0.301809,0.151442,139.000000,88.000000,50.000000,1.000000,1.000000,1.000000,279.000000,268.333333,224.000000

In [36]:
# Lcover 30%
HR[['lcV' + str(i) + '_30%' for i in range(11)]].describe()

,lcV0_30%,lcV1_30%,lcV2_30%,lcV3_30%,lcV4_30%,lcV5_30%,lcV6_30%,lcV7_30%,lcV8_30%,lcV9_30%,lcV10_30%
count,3790.000000,3790.000000,3790.000000,3790.000000,3790.000000,3790.000000,3790.000000,3790.000000,3790.000000,3790.000000,3790.000000
mean,0.002875,0.155861,0.105617,0.123032,0.200969,0.293822,0.000780,0.010209,0.088191,0.018523,0.000006
std,0.026463,0.212961,0.141725,0.202187,0.192210,0.211154,0.005244,0.046526,0.144310,0.046094,0.000173
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.007130,0.006969,0.000000,0.051312,0.116630,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.053121,0.047801,0.013025,0.137255,0.258722,0.000000,0.000000,0.009975,0.000000,0.000000
75%,0.000000,0.232223,0.154834,0.161488,0.301893,0.441161,0.000000,0.000000,0.125000,0.013238,0.000000
max,0.491477,0.976562,1.000000,0.990260,0.976190,0.984472,0.169811,0.932489,0.879098,0.606218,0.007712

In [38]:
HR[['lcV' + str(i) + '_50%' for i in range(11)]].describe()

,lcV0_50%,lcV1_50%,lcV2_50%,lcV3_50%,lcV4_50%,lcV5_50%,lcV6_50%,lcV7_50%,lcV8_50%,lcV9_50%,lcV10_50%
count,3790.000000,3790.000000,3790.000000,3790.000000,3790.000000,3790.000000,3790.000000,3790.000000,3790.000000,3790.000000,3790.000000
mean,0.004843,0.154909,0.105968,0.120354,0.199652,0.292877,0.000857,0.010657,0.090328,0.019445,0.000004
std,0.043170,0.223542,0.153957,0.207393,0.202579,0.224100,0.006753,0.054554,0.157131,0.057067,0.000189
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.043034,0.103243,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.045381,0.037840,0.007477,0.128323,0.247367,0.000000,0.000000,0.003781,0.000000,0.000000
75%,0.000000,0.215879,0.151945,0.149542,0.300000,0.447963,0.000000,0.000000,0.122548,0.009434,0.000000
max,0.657658,1.000000,1.000000,1.000000,1.000000,1.000000,0.220339,0.966667,0.953846,0.841463,0.010676

In [41]:
HR[['lcV' + str(i) + '_75%' for i in range(11)]].describe()

,lcV0_75%,lcV1_75%,lcV2_75%,lcV3_75%,lcV4_75%,lcV5_75%,lcV6_75%,lcV7_75%,lcV8_75%,lcV9_75%,lcV10_75%
count,3790.000000,3790.000000,3790.000000,3790.000000,3790.000000,3790.000000,3790.000000,3790.000000,3790.000000,3790.000000,3790.0
mean,0.009007,0.155537,0.107137,0.119776,0.195636,0.286959,0.000881,0.010761,0.094399,0.019786,0.0
std,0.075720,0.249495,0.182247,0.229336,0.232369,0.256844,0.009040,0.065794,0.188434,0.073672,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,0.000000,0.000000,0.000000,0.000000,0.010077,0.066667,0.000000,0.000000,0.000000,0.000000,0.0
50%,0.000000,0.031250,0.013889,0.000000,0.105263,0.227273,0.000000,0.000000,0.000000,0.000000,0.0
75%,0.000000,0.200000,0.142857,0.114286,0.300000,0.456988,0.000000,0.000000,0.090909,0.000000,0.0
max,0.897059,1.000000,1.000000,1.000000,1.000000,1.000000,0.200000,1.000000,1.000000,1.000000,0.0

### MR

In [22]:
# MR
MR = DFFull[(DFFull.ProbF >= .3) & (DFFull.ProbF < .7)]
MR.shape

(1749, 86)

In [53]:
MR[['area30', 'area50', 'area75', 'ncomp30', 'ncomp50', 'ncomp75', 'SIMP30', 'SIMP50', 'SIMP75','MN30', 'MN50', 'MN75']].describe()

,area30,area50,area75,ncomp30,ncomp50,ncomp75,SIMP30,SIMP50,SIMP75,MN30,MN50,MN75
count,1749.000000,1749.000000,1749.000000,1749.000000,1749.000000,1749.000000,1749.000000,1749.000000,1749.000000,1749.000000,1749.000000,1749.000000
mean,0.245077,0.119050,0.035574,35.829045,19.675243,7.507147,0.487646,0.517018,0.584512,40.027571,34.431584,23.902009
std,0.066752,0.048177,0.020067,19.108295,12.105503,5.360737,0.177852,0.194151,0.225467,32.892152,27.918191,21.365128
min,0.062097,0.020374,0.003396,2.000000,1.000000,1.000000,0.165223,0.187374,0.151605,10.594595,7.714286,2.666667
25%,0.199855,0.083882,0.020579,21.000000,10.000000,4.000000,0.347474,0.362240,0.396701,23.025000,19.000000,12.444444
50%,0.244391,0.113710,0.031250,32.000000,17.000000,6.000000,0.453206,0.480450,0.532488,31.157895,26.764706,18.000000
75%,0.287829,0.149219,0.045673,47.000000,26.000000,10.000000,0.607787,0.651433,0.755102,47.035714,39.875000,28.000000
max,0.492188,0.371795,0.133814,118.000000,96.000000,47.000000,1.000000,1.000000,1.000000,550.000000,359.500000,434.000000

In [42]:
MR[['lcV' + str(i) + '_30%' for i in range(11)]].describe()

,lcV0_30%,lcV1_30%,lcV2_30%,lcV3_30%,lcV4_30%,lcV5_30%,lcV6_30%,lcV7_30%,lcV8_30%,lcV9_30%,lcV10_30%
count,1749.000000,1749.000000,1749.000000,1749.000000,1749.000000,1749.000000,1749.000000,1749.000000,1749.000000,1749.000000,1749.000000
mean,0.004391,0.139558,0.115848,0.110228,0.223801,0.299695,0.001381,0.011736,0.072159,0.021101,0.000020
std,0.036356,0.236425,0.184695,0.211557,0.242814,0.261220,0.013317,0.055246,0.162481,0.064353,0.000555
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.003155,0.000000,0.034483,0.080153,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.020468,0.034188,0.003367,0.120370,0.224422,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.137931,0.146283,0.100840,0.344828,0.462838,0.000000,0.000000,0.043033,0.007782,0.000000
max,0.595070,0.968182,0.966418,0.994709,0.969231,1.000000,0.329630,0.740741,0.920530,0.639831,0.019841

In [43]:
MR[['lcV' + str(i) + '_50%' for i in range(11)]].describe()

,lcV0_50%,lcV1_50%,lcV2_50%,lcV3_50%,lcV4_50%,lcV5_50%,lcV6_50%,lcV7_50%,lcV8_50%,lcV9_50%,lcV10_50%
count,1749.000000,1749.000000,1749.000000,1749.000000,1749.000000,1749.000000,1749.000000,1749.000000,1749.000000,1749.000000,1749.000000
mean,0.007574,0.142072,0.116588,0.109722,0.220960,0.296422,0.001454,0.011756,0.072735,0.020625,0.000016
std,0.059440,0.248281,0.197081,0.221148,0.253824,0.271643,0.015051,0.063930,0.169217,0.068537,0.000494
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.025316,0.067114,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.017143,0.026087,0.000000,0.112676,0.210843,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.139175,0.136986,0.082305,0.346774,0.465649,0.000000,0.000000,0.034188,0.003460,0.000000
max,0.734783,1.000000,0.972603,1.000000,1.000000,1.000000,0.411765,0.906542,0.971831,0.725926,0.017699

In [44]:
MR[['lcV' + str(i) + '_75%' for i in range(11)]].describe()

,lcV0_75%,lcV1_75%,lcV2_75%,lcV3_75%,lcV4_75%,lcV5_75%,lcV6_75%,lcV7_75%,lcV8_75%,lcV9_75%,lcV10_75%
count,1749.000000,1749.000000,1749.000000,1749.000000,1749.000000,1749.000000,1749.000000,1749.000000,1749.000000,1749.000000,1749.0
mean,0.013217,0.144294,0.119141,0.109191,0.215738,0.293919,0.001440,0.011371,0.071469,0.020183,0.0
std,0.096434,0.268708,0.222354,0.239866,0.276048,0.299384,0.016873,0.076423,0.179778,0.079302,0.0
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.040000,0.000000,0.000000,0.000000,0.000000,0.0
50%,0.000000,0.000000,0.000000,0.000000,0.088235,0.187500,0.000000,0.000000,0.000000,0.000000,0.0
75%,0.000000,0.127273,0.130952,0.057143,0.350000,0.482759,0.000000,0.000000,0.014085,0.000000,0.0
max,0.933884,1.000000,1.000000,1.000000,1.000000,1.000000,0.346939,1.000000,1.000000,0.945455,0.0

### LR

In [23]:
# LR
LR = DFFull[DFFull.ProbF < .3]
LR.shape

(12040, 86)

In [52]:
LR[['area30', 'area50', 'area75','ncomp30', 'ncomp50', 'ncomp75', 'SIMP30', 'SIMP50', 'SIMP75', 'MN30', 'MN50', 'MN75']].describe()

,area30,area50,area75,ncomp30,ncomp50,ncomp75,SIMP30,SIMP50,SIMP75,MN30,MN50,MN75
count,12040.000000,12040.000000,12040.000000,12040.000000,12040.000000,12040.000000,12040.000000,12040.000000,12040.000000,12040.000000,12040.000000,12040.000000
mean,0.239470,0.115548,0.033694,29.421927,16.138621,6.237126,0.550540,0.579966,0.648536,45.954411,37.979126,23.953633
std,0.064121,0.047130,0.019297,17.837674,10.899330,4.795771,0.196699,0.207725,0.230428,51.669507,39.705280,23.100291
min,0.050085,0.014431,0.003396,1.000000,1.000000,0.000000,0.165842,0.167097,0.174287,7.562500,5.111111,0.000000
25%,0.195203,0.080592,0.019426,16.000000,8.000000,3.000000,0.391303,0.412050,0.460000,21.762034,17.500000,10.555556
50%,0.237664,0.110197,0.029687,26.000000,14.000000,5.000000,0.514494,0.544873,0.617066,30.905506,25.573593,16.500000
75%,0.282051,0.145046,0.043587,39.000000,21.000000,8.000000,0.697707,0.741300,0.857988,49.481801,42.223485,28.250000
max,0.909329,0.410636,0.201923,130.000000,90.000000,43.000000,1.000000,1.000000,1.000000,807.500000,728.000000,382.000000

In [48]:
LR[['lcV' + str(i) + '_30%' for i in range(11)]].describe()

,lcV0_30%,lcV1_30%,lcV2_30%,lcV3_30%,lcV4_30%,lcV5_30%,lcV6_30%,lcV7_30%,lcV8_30%,lcV9_30%,lcV10_30%
count,12040.000000,12040.000000,12040.000000,12040.000000,12040.000000,12040.000000,12040.000000,12040.000000,12040.000000,12040.000000,12040.000000
mean,0.002839,0.285680,0.098769,0.058036,0.209908,0.264039,0.000511,0.008424,0.054615,0.017128,0.000006
std,0.031107,0.326814,0.175446,0.163318,0.270011,0.264265,0.005307,0.055656,0.153600,0.063315,0.000311
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.002799,0.000000,0.000000,0.014706,0.065139,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.109472,0.023810,0.000000,0.074215,0.164056,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.586242,0.103291,0.014925,0.324354,0.386273,0.000000,0.000000,0.012500,0.002770,0.000000
max,0.829412,1.000000,1.000000,1.000000,1.000000,1.000000,0.317726,1.000000,0.987842,0.946602,0.026643

In [49]:
LR[['lcV' + str(i) + '_50%' for i in range(11)]].describe()

,lcV0_50%,lcV1_50%,lcV2_50%,lcV3_50%,lcV4_50%,lcV5_50%,lcV6_50%,lcV7_50%,lcV8_50%,lcV9_50%,lcV10_50%
count,12040.000000,12040.000000,12040.000000,12040.000000,12040.000000,12040.000000,12040.000000,12040.000000,12040.000000,12040.000000,12040.000000
mean,0.004598,0.289091,0.099158,0.056914,0.207494,0.260594,0.000501,0.008650,0.055484,0.017465,0.000006
std,0.048234,0.338181,0.188527,0.168626,0.279087,0.275142,0.005934,0.061134,0.160893,0.070608,0.000300
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.009174,0.051724,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.093750,0.015256,0.000000,0.065217,0.153846,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.604288,0.097411,0.010417,0.313848,0.384615,0.000000,0.000000,0.008403,0.000000,0.000000
max,0.979167,1.000000,1.000000,1.000000,1.000000,1.000000,0.284211,1.000000,1.000000,1.000000,0.024390

In [ ]:
LR[['lcV' + str(i) + '_75%' for i in range(11)]].describe()

# Extra stats 
Specific thresholds based on land cover types

## High risk
## lcV3" >=0.35 AND "lcV8" >=0.1

In [20]:
# HR
HR = DFFull[(DFFull['lcV3_30%'] >= 0.35) & (DFFull['lcV8_30%'] >= 0.1)]
HR.shape

(22, 86)

In [21]:
# Importations for evaluation
from sklearn.metrics import (mean_squared_error, roc_auc_score, auc, 
                             confusion_matrix, accuracy_score, classification_report,
                             precision_score, recall_score, f1_score, cohen_kappa_score)

# Reference
ytest = HR.y
y_hat = HR.yhat
y_score = HR.ProbF

# Evaluation
print("Test accuracy [%]:", np.round(accuracy_score(y_true=ytest, y_pred=y_hat) * 100, 2))
print("Precision Score:", np.round(precision_score(y_true=ytest, y_pred=y_hat),3))
print("Recall score:", np.round(recall_score(y_true=ytest, y_pred=y_hat), 3))
print("F1 score:", np.round(f1_score(y_true=ytest, y_pred=y_hat), 3))
print("Cohen Kappa score:", np.round(cohen_kappa_score(ytest, y_hat),3))
print("ROC AUC score:", np.round(roc_auc_score(y_true=ytest, y_score=y_score), 3))
tn, fp, fn, tp = confusion_matrix(ytest, y_hat).ravel()
print("Specificity:", tn / (tn + fp))
print("Sensitivity:", tp / (tp + fn))
print(confusion_matrix(ytest, y_hat))

Test accuracy [%]: 100.0
Precision Score: 1.0
Recall score: 1.0
F1 score: 1.0
Cohen Kappa score: 1.0
ROC AUC score: 1.0
Specificity: 1.0
Sensitivity: 1.0
[[ 2  0]
 [ 0 20]]

## MR
## "lcV8" <0.1 AND "lcV8" > 0 AND "lcV1" >=0.15 AND "lcV2" >=0.15 AND "lcV3" >=0.05 AND "lcV4" >=0.15 AND "lcV5" >=0.15

In [26]:
# MR
MR = DFFull[(DFFull["lcV8_30%"] < 0.1) & (DFFull["lcV1_30%"] >= 0.15) & (DFFull["lcV2_30%"] >= 0.15) &\
            (DFFull["lcV3_30%"] >= 0.05) & (DFFull["lcV4_30%"] >= 0.15) & (DFFull["lcV5_30%"] >= 0.15)]
MR.shape

(14, 86)

In [27]:
# Reference
ytest = MR.y
y_hat = MR.yhat
y_score = MR.ProbF

# Evaluation
print("Test accuracy [%]:", np.round(accuracy_score(y_true=ytest, y_pred=y_hat) * 100, 2))
print("Precision Score:", np.round(precision_score(y_true=ytest, y_pred=y_hat),3))
print("Recall score:", np.round(recall_score(y_true=ytest, y_pred=y_hat), 3))
print("F1 score:", np.round(f1_score(y_true=ytest, y_pred=y_hat), 3))
print("Cohen Kappa score:", np.round(cohen_kappa_score(ytest, y_hat),3))
print("ROC AUC score:", np.round(roc_auc_score(y_true=ytest, y_score=y_score), 3))
tn, fp, fn, tp = confusion_matrix(ytest, y_hat).ravel()
print("Specificity:", tn / (tn + fp))
print("Sensitivity:", tp / (tp + fn))
print(confusion_matrix(ytest, y_hat))

Test accuracy [%]: 92.86
Precision Score: 0.889
Recall score: 1.0
F1 score: 0.941
Cohen Kappa score: 0.851
ROC AUC score: 1.0
Specificity: 0.8333333333333334
Sensitivity: 1.0
[[5 1]
 [0 8]]

## LR
## "lcV8" <0.1 AND "lcV8" > 0 AND "lcV2" >=0.4 AND "lcV3" <0.1 AND "lcV3" > 0 AND "Lat" >= -38.146

In [29]:
# LR
LR = DFFull[(DFFull["lcV8_30%"] < 0.1) & (DFFull["lcV1_30%"] >= 0.15) & (DFFull["lcV2_30%"] >= 0.4) &\
            (DFFull["lcV3_30%"] < 0.1)]
LR.shape

(43, 86)

In [30]:
# Reference
ytest = LR.y
y_hat = LR.yhat
y_score = LR.ProbF

# Evaluation
print("Test accuracy [%]:", np.round(accuracy_score(y_true=ytest, y_pred=y_hat) * 100, 2))
print("Precision Score:", np.round(precision_score(y_true=ytest, y_pred=y_hat),3))
print("Recall score:", np.round(recall_score(y_true=ytest, y_pred=y_hat), 3))
print("F1 score:", np.round(f1_score(y_true=ytest, y_pred=y_hat), 3))
print("Cohen Kappa score:", np.round(cohen_kappa_score(ytest, y_hat),3))
print("ROC AUC score:", np.round(roc_auc_score(y_true=ytest, y_score=y_score), 3))
tn, fp, fn, tp = confusion_matrix(ytest, y_hat).ravel()
print("Specificity:", tn / (tn + fp))
print("Sensitivity:", tp / (tp + fn))
print(confusion_matrix(ytest, y_hat))

Test accuracy [%]: 90.7
Precision Score: 0.5
Recall score: 1.0
F1 score: 0.667
Cohen Kappa score: 0.619
ROC AUC score: 1.0
Specificity: 0.8974358974358975
Sensitivity: 1.0
[[35  4]
 [ 0  4]]